/* 定义断点*/
@breakpoint-small: 480px;
@breakpoint-medium: 768px;
@breakpoint-large: 1024px;

/* 媒体查询*/
.small(@rules) {
  @media (max-width: @breakpoint-small) {
    @rules();
  }
}

.medium(@rules) {
  @media (min-width: (@breakpoint-small + 1px)) and (max-width: @breakpoint-medium) {
    @rules();
  }
}

.large(@rules) {
  @media (min-width: (@breakpoint-medium + 1px)) {
    @rules();
  }
}

.flex-container {
  align-items: center;
  /* flex-start | flex-end | center | baseline | stretch*/
  display: flex;
  flex-direction: row;
  /* row | row-reverse | column | column-reverse*/
  justify-content: center;
  /* flex-start | flex-end | center | space-between | space-around*/
}

.flex-item {
  flex: 1;
  /* 可以设置flex-grow, flex-shrink, flex-basis*/
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}


.center-vertical-item {
  flex: none;
  /* 不伸缩*/
}

.center-absolute {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-table {
  display: table;
  height: 100%;
  width: 100%;

  .center-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-radius {
  border-radius: 4px;
}

.opacity(@opacity: 0.5) {
  opacity: @opacity;
}

.transition(@transition) {
  transition: @transition;
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar {
  width: 8px;
  /* 滚动条宽度 */
  height: 8px;
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  /* 滑块颜色 */
  border-radius: 4px;
  /* 滑块圆角 */
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  /* 轨道颜色 */
}

/* 添加一些基本的样式到 <pre> 标签 */
pre {
  background-color: #f5f5f5; /* 轻微的背景颜色 */
  border: 1px solid #ddd; /* 边框 */
  border-radius: 4px; /* 边框圆角 */
  color: #333; /* 文本颜色 */
  font-family: 'Courier New', Courier, monospace; /* 等宽字体 */
  height: 100%;
  line-height: 1.5; /* 行高 */
  overflow-x: auto; /* 水平滚动条 */
  padding: 10px; /* 内边距 */
  width: 100%;
}

/* 当 <pre> 标签是 contentEditable 的时候，移除一些样式以便于编辑 */
pre[contentEditable] {
  background-color: #fff; /* 背景色改为白色，便于编辑 */
  border: 1px solid #ccc; /* 编辑状态下的边框颜色 */
  outline: none; /* 移除轮廓，避免干扰 */
}

/* 添加一些样式到 <pre> 标签中的代码 */
pre code {
  color: #666; /* 代码文本颜色 */
  font-size: 14px; /* 代码字体大小 */
}
