.home-container {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}
.welcome-title {
  align-items: center;
  animation: fadeInDown 2s ease forwards;
  color: white;
  display: flex;
  font-size: 3rem;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
}
@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.icon-links {
  align-items: end;
  display: flex;
  gap: 10px;
  grid-column: 2;
  grid-row: 3;
  justify-content: center;
}
.icon-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  width: max-content;
  &:hover {
    color: #007bff;
  }
  svg {
    fill: currentColor;
    height: 24px;
    margin-right: 6px;
    width: 24px;
  }
}
