.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  height: 100vh;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  overflow: hidden;
  padding: 20px;
}

.welcome-title {
  font-size: 3rem;
  color: white;
  opacity: 0;
  animation: fadeInDown 2s ease forwards;
  margin-bottom: 20px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-links {
  grid-row: 3;
  grid-column: 2;
  gap: 10px; /* 间距设置在容器上 */
  display: flex;
  justify-content: center;
  align-items: end;
}
.icon-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  width: max-content; /* 确保元素宽度不会超过其内容 */
  &:hover {
    color: #007bff;
  }
  svg {
    margin-right: 6px;
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
}
