.icon-base {
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  margin-right: 8px;
  padding: 2px;
  transition: color 0.3s, box-shadow 0.3s;
  :hover {
    background-color: #e6f7ff;
    border-color: #1890ff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: #1890ff;
  }
}
.icon-hover {
  background-color: #e6f7ff;
  border-color: #1890ff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #1890ff;
}
.icon-selected {
  background-color: #e6f7ff;
  border: 1px solid #1890ff;
  color: #1890ff;
}
